.dev-img {
    width: auto !important;
    height: 50px !important;
}

.school-img{
    width: auto !important;
    height: 50px !important;
    margin-right: 10px;
    margin-top: 5px;
}

.work-img{
    width: auto !important;
    height: 50px !important;
    margin-right: 10px;
    margin-top: 5px;
}

.fa-copyright{
    font-size: 10pt;
}

#social-icons-mob{
    display: none;
}

@media all and (max-width: 768px) {
    .work-img{
        width: 50px !important;
        height: auto !important;
        margin-right: 10px;
        margin-top: 5px;
        display: block !important;
        margin: 0 auto !important;
    }

    .school-img{
        width: 50px !important;
        height: auto !important;
        margin-right: 10px;
        margin-top: 5px;
        display: block !important;
        margin: 0 auto !important;
    }

    h1, h2, h3, p, img, .text-md-right, .subheading, .social-icons{
        text-align: center !important;
    }

    .subheading ul li span img{
        display: block !important;
        margin: 0 auto !important;
    }

    .mob{
        font-size: 16pt;
        cursor: pointer !important;
    }

    .fa-whatsapp-square.mob{
        color: white !important;
        margin-left: 5px;
        margin-right: 3px;
    }

    .fa-whatsapp-square.mob:hover{
        color: #aba3a3 !important;
    }

    .fa-envelope.mob{
        color: white !important;
        margin-left: 5px;
        margin-right: 3px;
    }

    .fa-envelope.mob:hover{
        color: #aba3a3 !important;
    }

    .fa-sms.mob{
        color: white !important;
        margin-left: 5px;
        margin-right: 3px;
    }

    .fa-sms.mob:hover{
        color: #aba3a3 !important;
    }

    .fa-phone.mob{
        color: white !important;
        margin-right: 3px;
        margin-left: 5px;
    }

    .fa-phone.mob:hover{
        color: #aba3a3 !important;
    }

    #social-icons{
        display: none;
    }

    #social-icons-mob{
        display: inline-flex;
        margin-left: -30px;
    }

}

.fa-phone{
    color: #6688cc !important;
}

.fa-phone:hover{
    color: #516ca3 !important;
}

.fa-sms, .fa-whatsapp-square{
    color: #88cc66 !important;
}

.fa-sms:hover, .fa-whatsapp-square:hover{
    color: #6ca351 !important;
}